body {
    background-color: #e4e5e9;
}

.name-ctr {
    text-align: center;
}

.address-mg {
    margin-top: -20px;
    line-height: 1.3;
}

.title-bg {
    background-color: #3c3e3b;
    color: #fff;
    padding: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.column {
    float: left;
}

.title-left {
    width: 10%;
}

title-right{
    width: 70%;
}

.left {
    width: 35%;
}

.right {
    width:65%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

li {
    list-style-type: none;
    line-height: 1.4;
}

h4 {
    background-color: #cccdcf;
    text-transform: uppercase;
    padding: 10px;
}